#ignore build directories
/cmake-build-*
/_build*
/build*

#ignore clion cache
/.idea

**/compile.sh

#ignore all files generated during testing
/test/*/*.ll
/test/*/*.bc
/test/*/*.o
/test/*/*.s
/test/*/*.out
/test/*/*.out.resolution.txt


